

<div class="container">
    <h2 class="d-flex p-5 m-3 justify-content-center">Lista de productos</h2>
    <div class="row">
    {{> formulario}}
</div>
{{#if listExist}} 
    <div class="row">
        {{> listacompleta}}
    </div>
{{/if}}

</div>

